<style>
  .navbar-expand-lg{
    background-color: rgb(40, 4, 97);
   }
   . {
    background-image: url('/public/images/background_image2.jpeg');
    background-size: cover;
   }
</style>
<div class="section">
<div class="container-fluid p-0 ">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:white ;" href="#">DASHBOARD</a>
    </div>
  </nav>
</div>
</div>

<div class="section">
  <div class="container-fluid">
    <div>
        <div class="row">
        <div class="p-5  alert text-success m-0 p-0 pt-5 text-center  " role="alert">
        <h5 class=" alert-heading ">Login Successfully  </h5>
        </div>
       </div>
       <div class="row">
        <form action="/logout" class="mt-1 mb-3 col-md-12 d-flex justify-content-center">
        <button type="submit" class="w-25 btn btn-primary btn-block">Log Out</button>
        </form> 
       </div>
    </div>
  </div>
</div>


